body {
    color:black;
    background: darkolivegreen;
    margin: 0px;
}

header {
    size: 850px;
    margin: 10.65px;
    padding-left: 50px;
    color:whitesmoke;
    border: solid 4.65px whitesmoke;
}

section {
    background: whitesmoke;
    padding-bottom: 80px
    padding-top: 80px;
    display: flex;

}

div {
    margin-right: 20px;
}