body {
    color:black;
    background: darkolivegreen;
}

header {
    size:15px;
    color:whitesmoke;
    border: solid 10px whitesmoke;
}

section {
    background: whitesmoke;
    padding-bottom: 80px
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

div {
    margin-right: 20px;
}