body {
    color:black;
    background: darkolivegreen;
    margin: 0px;
}

header {
    font-size: 35.65px;
    padding: 18.65px;
    padding-left: 150px;
    color:whitesmoke;
    border-bottom: solid 2.85px whitesmoke;
}

section {
    background: whitesmoke;
    padding-bottom: 80px
    padding-top: 80px;
    display: flex;

}

div {
    margin-right: 20px;
}